#!/sbin/openrc-run

description="Unison daemon"

port=7767
pidfile=/run/unison.pid
command=/bin/unison
command_args="-socket $port"
command_background=true
command_user=user

start_pre() {
    cd /vagga
    export UNISON=/vagga/.unison
}
